body{
	background:#eee 
}


.main .Signupform .form-row{
	display: grid;
	grid-template-columns: 15% 18% 18%;
	grid-gap:5px; 
}
.main .Signupform .form-rows{
	display: flex;
	flex-direction: start;
	
}
.Signupform{
	margin: auto;
	width: 450px;
	padding: 15px;
	grid-gap: 20px;
}
.input-row{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}
input{
	width: 99%;
	padding: 10px 5px;
	margin: 5px;
}

select{
	padding: 10px 5px;
	margin: 5px;
	width: 100%;
}